body {
    margin: 0%;
    background: url(/images/mtg_background_img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    width: 10vw;
}

header {
    margin: 0%;
    width: 100vw;
    background: url(/images/mtg_header_img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-color: rgb(19, 19, 19); */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 100%;
    border-bottom: 10px solid black;
}

h1 {
    font-size: 40px;
    margin: 1.5%;
    color: whitesmoke;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
}
h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    margin: 0%;
    margin-top: 5%;
    text-decoration: underline;
}

p {
    font-size: 18px;
}

#searchdiv{
    width: 12%;
    padding-left: 5%;
    float: left;
    opacity: 100%;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 100%;
}

#cardsdiv {
    width: 66%;
    float: left;
    text-align: center;
    opacity: 100%;
}

#cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#decks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 16%;
    padding-left: 1%;
    float: left;
    opacity: 100%;
}

#deck {
    padding-bottom: 5%;
}

#decktitle {
    font-size: 25px;
}

.colorbox {
    display: inline;
}

.carddiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
}

#pagebtns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    padding-bottom: 2%;
}

.btn {
    margin-inline: 3%;
}

input[type='number']{
    width: 65px;
}

input[type='submit'] {
    margin-top: 1%;
}

#deckselect {
    margin-top: 3%;
    font-size: 16px;
}

.deckcardname {
    margin: 0%;
    margin-bottom: 2px;
    margin-top: 5px;
}

.deckcardmc {
    margin: 0%;
    margin-bottom: 2%;
    font-size: 12px;
}

.deckcardbtn {
    margin: 0%;
    padding: 0px 5px;
}

.deckcardremovebtn {
    margin: 0%;
    padding: 0px;
}

#deletedeckbtn {
    margin-top: 8px;
    margin-bottom: 2%;
}

.hide {
    display: none;
}

#cardhoverimg {
    width: 26vw;
    position: fixed;
    left: 37%;
    top: 10%;
    z-index: -1;
}

#confirm {
    position: fixed;
    width: 20vw;
    left: 40vw;
    top: 40vh;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid red;
    background-color: ghostwhite;
}

.confirmbtn {
    margin: 2%;
}

@media screen and (max-width: 600px) {
    #searchdiv {
        width: 100%;
        padding: 0%;
    }
    #cardsdiv {
        width: 100%;
    }
    #decks {
        width: 100%;
        padding: 0%;
    }
    img {
        width: 22vw;
    }
    #cardhoverimg {
        width: 60vw;
        left: 20%;
    }
}